[Unit]
Requires=dialback-zero-update-recovery.service
After=dialback-zero-update-recovery.service
Description=Dialback Zero local configuration page
After=local-fs.target dialback-zero-activate.service
Wants=dialback-zero-activate.service
PartOf=dialback-zero.target

[Service]
Environment=PYTHONDONTWRITEBYTECODE=1
Type=simple
ExecStart=/usr/bin/python3 /usr/local/lib/dialback-zero/config_web.py
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
